*{
  box-sizing: border-box;
}

h2{
  font-family: 'Baloo Da 2', cursive;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Ubuntu', sans-serif;
}

button{
  font-family: 'Arvo', serif;
}


/* navbar */
.navbar{
  display:flex;

}

.navbar::before{
  content: "";
  background-color: grey;
  position: absolute;
  height: 100%;
  width:120%;
  z-index: -1;
}
.navbar ul{
  display: flex;

}

.navbar ul li{
  list-style: none;
  font-size: 1rem;

}

.navbar ul li a{
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.navbar ul li a:hover{
  color: black;
  background-color: white;
  float: right;
}

.nav{
  position: absolute;
  right: 2px;
}
.logo{
  margin: 10px 34px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

#home{
  display: flex;
  height:555px;
  padding: 3px 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home::before{
  content: "";
background: url(../assets/intro-bg.jpg) no-repeat center center/cover ;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
  z-index: -1;
}

/* utility section */
#home h1{
  color: white;
  text-align: center;
  font-family: 'Bree Serif', serif;


}
#home p{
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;

}
.h-primary{
  font-size: 3.8rem;
  padding: 12px;
}

.btn{
  padding: 12px 20px;
  background-color: #54e346;
  border-radius: 5px;
  font-size: 1rem;
  margin: 7px;
  cursor: pointer;
}


/* about us */


.about{
  display: flex;
  padding: 12px 15px;
  margin-top: 16px;
}

.col1{
  width: 40%;
  float:left;
  padding: 15px;

}

.col2{
  width: 50%;
  float: left;
padding: 30px;
margin: 15px;;

}

.col3{
  width: 50%;
  float: left;
  padding: 15px;
  margin: auto;
}
/*
.about-img{
margin: 7px;
padding: 25px;
 } */

 .about::after {
   content: "";
   clear: both;
   display: table;
 }


 .services{
   background-color: #54e346;
   padding: 6px;


 }

 .ser{
   display: flex;
   padding: 40px;

 }

 .title{
   text-align: center;
   line-height:1.5 3rem;
   padding: 40px 7px 7px;  ;


 }

 .title {
   text-align: center;
   margin: auto;
 }

.ser{
  text-align: center;
  color: white;
}

.ser-image{
  border-radius: 100%;
}

.title{
  text-align: center;
  color: white;
}

/* testimonial */

.testimonial{
  background: url(../assets/testimonials-bg.jpg) no-repeat center center/cover
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #54e346;
  opacity: 0.6;
  padding: 10%;
}
.row1{
  width: 100%;
  text-align: center;
  color: white;
}
hr{
  border: dotted  white 6px;
  border-bottom: none;
  width: 4% ;
  margin: 20px auto;
}


/* project gallery */


.gallary{
  text-align: center;
}

.g-b{
  display: flex;
  position: relative;
left: 410px;

}
.b1{
  margin: 30px;
  background-color: #ededd0;
  padding: 6px;
  border-radius: 5px;
}
.b1:hover{
  background-color: #54e346;
}
.b-item{

}
.g-pic{
  display: flex;
  margin:10px 90px;
}

.pic-item{
  width: 30%;
  margin:10px 20px;

}

/* CONTACT */


.row2{
  text-align: center;
}


.row3{
  display: flex;
  padding: 30px;
  text-align: center;
}

.row-item{
  width: 33%;
}

.row4{
  text-align: center;
}

.row4-item{
  display: flex;
  margin: 10px;

}

.row4-item .detail{

}

.query{
  position: relative;
  left: 30%;
  margin: 30px;

}

/* footer */

.footer{
  background-color: #1b1a17;
}


.f-row1{


}

.icons{
  display: flex;
  padding: 40px;
  margin-bottom: 60px;
}

.icon-1{
  padding: 8px;
  width: 3%;
  margin: 16px;
  position: relative;
  left: 40%;
  border-radius: 100%;
  background-color: #766161;
  color: #54e346;
}

.icon-1:hover{
  background-color: #4a503d;
}

.rights{
  text-align: center;
  padding-bottom: 50px;
  color: #766161;
}

.rights p::before{
  content: ' \00A9';
}
